{% extends "master.html" %}
{% block header %}
Base Reflectivity
{% endblock %}
{% block navbar %}
            <a href=".">Precipitation Prediction</a> |
            <a href="northeast.html">Northeast Regional</a><br>
{% endblock %}
{% block radar %}
    <figure class="latest">
        <figcaption>latest image</figcaption>
        <img src="N0R{{ radar_id }}.png">
    </figure>
    <figure class="recent">
        <figcaption>recent video (last two hours)</figcaption>
        <video autoplay loop>
            <source src="N0R{{ radar_id }}.mp4" type="video/mp4">
        </video>
    </figure>
{% endblock %}
