{% extends "master.html" %}
{% block header %}
Current Forecast
{% endblock %}
{% block navbar %}
    <a href="base_reflectivity.html">Base Reflectivity</a> |
    <a href="northeast.html">Northeast Regional</a>
{% endblock %}
{% block radar %}
    <figure class="motd">
        {{ macros.draw_forecast(forecast.properties.periods[0]) }}
        <br>
        {{ macros.draw_forecast(forecast.properties.periods[1]) }}
        <br>
        {{ macros.draw_forecast(forecast.properties.periods[2]) }}
        <figcaption>Message of the Day</figcaption>
        <img src="motd.jpg">
    </figure>
{% endblock %}