{% extends "master.html" %}
{% block header %}
Current Forecast
{% endblock %}
{% block forecast %}
<div class="forecast">
    {% if "properties" in forecast %}
        <hr>
        {{ macros.draw_forecast(forecast.properties.periods[0]) }}
        <hr>
        {{ macros.draw_forecast(forecast.properties.periods[1]) }}
        <hr>
        {{ macros.draw_forecast(forecast.properties.periods[2]) }}
        <hr>
    {% else %}
    No forecast data in most recent download!
    {% endif %}
</div>
{% endblock %}
{% block radar %}
    <figure>
        <figcaption>Message of the Day</figcaption>
        <img src="motd.jpg">
    </figure>
    <a href="https://www.weather.gov/media/bgm/publicbrief.pdf">Current public briefing</a>
{% endblock %}