{% macro radar_age(last_date) %}
    <script>
        last_date = Date.parse("{{ last_date }}")
        seconds = (Date.now()-last_date)/1000
        minutes = Math.floor(seconds/60)
        document.write("latest radar image captured "+minutes+" minutes ago")
    </script>
{% endmacro %}
{% macro round_number(x) %}
   {% if x is none %}
      <span class="na">N.A.</span>
   {% else %}
      {{ x | round(1) }}
   {% endif %}
{% endmacro %}
{% macro metar(wx) %}
    <h1>Latest weather at {{ wx.location }}</h1>
    <div class="navbar">
         <script>
            last_date = Date.parse("{{ wx.wx_time }}")
            seconds = (Date.now()-last_date)/1000
            minutes = Math.floor(seconds/60)
            document.write("weather observed "+minutes+" minutes ago")
        </script>
        <br>
        Temperature: {{ round_number(wx.temp) }} &deg;F
        Dewpoint:  {{ round_number(wx.dewpt) }}&deg;F
        Relative Humidity: {{ round_number(wx.humidity) }}%<br>
        Wind:  {{ wx.wind_alpha }}
        {% if not wx.wind_dir is none %}
            ({{ wx.wind_dir }}&deg)
        {% endif %}
        {{ round_number(wx.wind_speed) }} mph
        Pressure: {{ round_number(wx.pressure) }} mbar<br>
        {{ wx.sky }} ; {{ wx.present_weather }}
    </div>
{% endmacro %}

{% macro draw_forecast(period) %}
<b>{{ period.name }}</b>: {{ period.detailedForecast }}
{% endmacro %}