{% import 'macros.html' as macros %}
<html>
    <head>
        <title>Weather at 472 Central</title>
        <style>
            BODY { background: black; color: white }
            h1 { text-align: center; color: white}
            .navbar { width: 1250px; margin: auto; text-align: center}
            .pred1hr { display: flex; width: 1250px; margin: auto}
            figcaption { font-weight: bold}
        </style>
        <meta http-equiv="refresh" content="120">
    </head>
    <body>
        {{ macros.metar(latest_wx) }}
        <h1>{% block header %}{% endblock %}</h1>
        <div class="navbar">
            {% block navbar %}
            {% endblock %}

            {% if failed %}
                <h1>No current radar images available from NWS</h1>
                <div class="navbar">
                    Check <a href="{{ radar_html }}}">NWS product page.</a>
                </div>
            {% else %}
                <div class="navbar">
                    {{ macros.radar_age(last_date) }}
                </div>
                <div class="pred1hr">
                    {% block radar %}{% endblock %}
                </div>
            {% endif %}

    </body>
</html>