{% extends "master.html" %}
{% block header %}
Northeast Regional
{% endblock %}
{% block navbar %}
    <a href="base_reflectivity.html">Base Reflectivity</a> |
    <a href=".">Precipitation Prediction</a><br>
{% endblock %}
{% block radar %}
    <figure class="latest">
        <figcaption>latest image</figcaption>
        <img src="northeast.png">
    </figure>
    <figure class="recent">
        <figcaption>recent video (last six hours)</figcaption>
        <video autoplay loop>
            <source src="northeast.mp4" type="video/mp4">
        </video>
    </figure>
{% endblock %}

